@page
@model Projekt_pierwszy.Pages.RulesModel
@{
    var rules = Model.Rules;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Formularz reguł</title>
</head>
<body>
    <h2>Podaj nową regułę:</h2>

    <form method="post">
        <input type="text" name="Rule" />
        <input type="submit" value="Dodaj" />
    </form>

    @if (rules?.Any() == true)
    {
        <h3>Zgłoszone reguły:</h3>
        <ol>
            @foreach (var rule in rules)
            {
                <li>@rule</li>
            }
        </ol>
    }
</body>
</html>
